[submodule "External/SGKeychain"]
	path = External/SGKeychain
	url = git@github.com:secondgear/SGKeychain.git
[submodule "External/SGMimiMailer"]
	path = External/SGMimiMailer
	url = git@github.com:secondgear/SGMimiMailer.git
[submodule "External/Reachability"]
	path = External/Reachability
	url = git@github.com:secondgear/Reachability.git
[submodule "External/CocoaLumberjack"]
	path = External/CocoaLumberjack
	url = git@github.com:secondgear/CocoaLumberjack.git
[submodule "External/MBProgressHUD"]
	path = External/MBProgressHUD
	url = git@github.com:secondgear/MBProgressHUD.git
